<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiLxpil1dU9ydbR39SbSd9WGNXAnYl0Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>977401120038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Group1.TimeFrame</string>
	<key>PROJECT_ID</key>
	<string>timeframe-cf353</string>
	<key>STORAGE_BUCKET</key>
	<string>timeframe-cf353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977401120038:ios:6481a1a4b8019e031c2de7</string>
</dict>
</plist>